# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
crash.log
crash.*.log

# Secrets
*.pem
*.key
*.env
credentials*
secrets*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# External cloned repos
retail-store-sample-app/
